<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duck.yellowduck.domain.dao.ReceiveRecordMapper">


    <!-- 封装用户领取记录参数 -->
    <resultMap id="BaseResultMap" type="com.duck.yellowduck.domain.model.model.ReceiveRecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>


    <!-- 公用参数 -->
    <sql id="Base_Column_List">

        id,
        address,
        amount,
        create_time

    </sql>

    <!-- 查询用户领取记录信息,可按地址查询单条 -->
    <select id="selectReceiveRecordListInfo" resultMap="BaseResultMap" parameterType="java.lang.String">

        SELECT

        <include refid="Base_Column_List"/>

        FROM duck_receive_record

        <trim prefix="WHERE" prefixOverrides="AND | OR">

            <if test="address != null and address.length() > 0">

                AND  address = #{address}

            </if>

        </trim>

    </select>




</mapper>